{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>新規作成 - myTop5</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <nav>
      <h1>myTop5</h1>
      <div class="account-menu">
        <details>
          <summary><i class="fas fa-user-circle"></i></summary>
          <div class ="details-menu">
            <div class="username">@{{ request.user.display_name }}</div>
            <div><a href="{% url 'home' %}">マイページ</a></div>
            <div><a href="{% url 'settings' request.user.id %}">設定</a></div>
            <div><a href="{% url 'account_logout' %}">ログアウト</a></div>
          </div>
        </details>
      </div>
    </nav>
    
    {% if userData %}
    <div class="card card-purple">
      <h2>ランキング新規作成</h2>
      <p class="description">
        説明にはURLを入れることができます。<br>
        リンクが正しく動くためには、URLの左右両端にスペースの入力が必要です。
      </p>
    </div>
    <p class="notice text-required">*必須事項</p>

    <form action="{% url 'create' %}" method="post">
      {% csrf_token %}
      <div class="card">
        <h3>ランキング情報</h3>
        <label for="title">ランキング名（18文字以内）<span class="text-required">*</span></label>
        <input id="title" type="text" name="title" required>
        <label for="description">説明</label>
        <textarea id="description" name="description"></textarea>
      </div>
      <div class="card">
        {% with ''|center:5 as range %}
        {% for _ in range %}
          <h3>{{ forloop.counter }}位</h3>
          <label for="dtitle{{ forloop.counter }}">名前（20文字以内）<span class="text-required">*</span></label>
          <input id="dtitle{{ forloop.counter }}" type="text" name="dtitle{{ forloop.counter }}" required>
          <label for="ddescription{{ forloop.counter }}">説明</label>
          <textarea id="ddescription{{ forloop.counter }}" name="ddescription{{ forloop.counter }}"></textarea>
        {% endfor %}
        {% endwith %}
      </div>

      <input type="submit" value="作成">
    </form>
    {% endif %}

  </div>
</body>

</html>