{% load static %}
{% load custom_urlize %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{rankingInfo.title}} by @{{rankingInfo.user.display_name}} - myTop5</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="og:title" content="{{rankingInfo.title}} by @{{rankingInfo.user.display_name}}">
  <meta name="og:description" content="myTop5 - 様々なランキングのトップ5を作って、共有できるサイト">
  <meta name="og:image" content="https://mytop5app.herokuapp.com/img/twitter/{{rankingInfo.id}}/">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://mytop5app.herokuapp.com/detail/{{rankingInfo.id}}/">
</head>

<body>
  <div class="container">
    <nav>
      <h1>myTop5</h1>
    {% if request.user.is_authenticated %}
      <div class="account-menu">
        <details>
          <summary><i class="fas fa-user-circle"></i></summary>
          <div class ="details-menu">
            <div class="username">@{{ request.user.display_name }}</div>
            <div><a href="{% url 'home' %}">マイページ</a></div>
            <div><a href="{% url 'settings' request.user.id %}">設定</a></div>
            <div><a href="{% url 'account_logout' %}">ログアウト</a></div>
          </div>
        </details>
      </div>
    {% endif %}
    </nav>
    
    {% if rankingInfo %}
    <div class="card card-purple">
      <h2>{{rankingInfo.title}}</h2>
      {% if rankingInfo.user.sns_type != "N" %}
      <p class="username">作成者：<a href="{{rankingInfo.user.get_sns_type_display}}{{rankingInfo.user.display_name}}/" target="_blank" rel="noopener noreferrer nofollow">@{{rankingInfo.user.display_name}}</a></p>
      {% else %}
      <p class="username">作成者：@{{rankingInfo.user.display_name}}</p>
      {% endif %}
      <p class="description">{{ rankingInfo.description|urlize|custom_urlize|linebreaksbr }}</p>
    </div>
    {% if rankData %}
    {% if request.user.is_authenticated and request.user.id == rankingInfo.user.id %}
    <a class="button button-edit" href="{% url 'edit' rankingInfo.id %}">編集する</a>
    {% endif %}
    <div class="card">
      {% for item in rankData %}
      <div class="card-rank">
        <div class="row">
          <div class="column column-25">
            <div class="rank-box rank-box-{{item.rank}}">
              {{item.rank}}位
            </div>
          </div>
          <div class="column column-75">
            <h3 class="card-rank-title">{{ item.title }}</h3>
            <p class="description">{{ item.description|urlize|custom_urlize|linebreaksbr }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    <div class="tweet-link">
      <a href="https://twitter.com/share?url=https://mytop5app.herokuapp.com/detail/{{rankingInfo.id}}/&text={{rankingInfo.title}} by @{{rankingInfo.user.display_name}} - myTop5&hashtags={{rankingInfo.title}}" rel="noopener noreferrer nofollow" target="_blank"><img src="{% static 'images/Twitter_Social_Icon_Circle_Color.png' %}"></a>
    </div>
    {% endif %}

  </div>
</body>

</html>