{% load static %}
{% load custom_urlize %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>マイページ - myTop5</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>

<body>
  <div class="container">
    <nav>
      <h1>myTop5</h1>
      <div class="account-menu">
        <details>
          <summary><i class="fas fa-user-circle"></i></summary>
          <div class ="details-menu">
            <div class="username">@{{ request.user.display_name }}</div>
            <div><a href="{% url 'home' %}">マイページ</a></div>
            <div><a href="{% url 'settings' request.user.id %}">設定</a></div>
            <div><a href="{% url 'account_logout' %}">ログアウト</a></div>
          </div>
        </details>
      </div>
    </nav>
    
    {% if userData %}
    <div class="card card-purple">
      <h2>@{{userData.display_name}}のマイページ</h2>
    </div>
    {% if rankingInfo %}
    {% for item in rankingInfo %}
    <div class="card card-home">
      <h3 class="card-rank-title">{{ item.title }}</h3>
      <p>{{ item.description|urlize|custom_urlize|linebreaksbr }}</p>
        <a class="button button-home" href="{% url 'detail' item.id %}">詳しく見る</a>
        <a class="button button-home" href="{% url 'edit' item.id %}">編集する</a>
      
    </div>
    {% endfor %}
    {% endif %}
    {% endif %}
    <div class="card card-plus">
      <a href="{% url 'create' %}"><i class="fas fa-plus-circle"></i>新規作成</a>
    </div>
  </div>
</body>

</html>