{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>トップページ - myTop5</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>


<body>
    <div class="container">
        <nav>
            <h1>myTop5</h1>
        </nav>
           
        <p> 自分だけのトップ<ruby><rb>５</rb><rt>ファイブ</rt></ruby>を作ってみんなと共有しよう！</p>
        <br>
        <p>アカウントをお持ちの方</p><p class="line-height"><a href="{% url 'account_login' %}">ログイン＞＞</a></p>
        <p>アカウントをお持ちでない方</p><p><a href="{% url 'account_signup' %}">サインアップ＞＞</a></p>
    </div>
</body>

</html>