body {
    color: #000;
    font-family: 'Noto Sans JP', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

dt {
    font-weight: 700;
}

a,
a:visited {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    color: #007bff;
    text-decoration: #007bff underline;
}

a:focus {
    outline: #ffc107 3px solid;
}

a.button {
    color: #fff;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 3rem;
    vertical-align: baseline;
}

a.button:hover {
    text-decoration: none;
}

.text-required {
    color: #dc3545 !important
}

.notice {
    margin-bottom: 4rem;
}

.card {
    background-color: #EBEBEB;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 5rem;
}

.username {
    font-weight: 500;
    font-size: 1.75rem;
}

.username a {
    color: #000;
}

.username a:hover {
    color: #007bff;
    text-decoration: #007bff underline;
}

.card-rank {
    padding: 1rem;
    margin-bottom: 5rem;
    background-color: #fff;
    /*border: 1px solid #707070;*/
    border-radius: 1rem;
}

.card-rank-title {
    font-size: 3.8rem;
}

.rank-box {
    width: 10rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    border-radius: 1rem;
    color: #fff;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.rank-box-1 {
    background-color: #FF9114;
}

.rank-box-2 {
    background-color: #88C613;
}

.rank-box-3 {
    background-color: #009DFF;
}

.rank-box-4 {
    background-color: #8700FF;
}

.rank-box-5 {
    background-color: #EF007F;
}

/*メニューバー*/
nav {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.account-menu {
    margin-top: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

summary {
    display: block;
    width: 4rem;
    line-height: 4rem;
    font-size: 3rem;
    text-align: center;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

.details-menu {
    position: absolute;
    right: 30px;
    display: block;
    padding: 1rem;
    border: 1px solid rgba(27, 31, 35, 0.15);
    border-radius: 0.5rem;
    box-shadow: 0 3px 12px rgba(27, 31, 35, 0.15);
    background-color: #fff;
    z-index: 100;
}

.details-menu>div {
    line-height: 3rem;
}

details[open]>summary:before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    background: transparent;
}

/*設定ページ*/
input:not([type="submit"]):not([type="button"]),
textarea,
select {
    background-color: #fff !important;
}

input[type="submit"],
input[type="button"] {
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
}

.card-purple {
    background-color: #9b4dca;
    color: #fff;
    /*
    border: #EBEBEB solid 5px;
    */
    margin-bottom: 2rem;
}

.card-purple h2 {
    margin-bottom: 0;
}

.card-purple .username {
    margin-bottom: 0;
}

.card-purple .username a {
    color: #fff;
}

.card-purple .username a:hover {
    color: #42C7C9;
    text-decoration: #42C7C9 underline;
}

.card-purple .description {
    margin: 1.5rem 0;
}

.card-purple .description a {
    color: #42C7C9;
}

.card-purple .description a:hover {
    text-decoration: #42C7C9 underline;
}

/*マイページ*/
.card-home {
    margin-bottom: 2rem;
}

.card-plus {
    text-align: center;
    font-size: 4rem;
    margin-top: 4rem;
}

.card-plus a,
.card-plus a:visited {
    color: #9b4dca;
    text-decoration: none;
}

.card-plus a:hover {
    color: #606c76;
    text-decoration: none;
}

a.button-home {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2px;
    margin: 0 0.5rem 0 0;
}

/*編集ページ*/
a.button-edit {
    vertical-align: middle;
    font-size: 1.5rem;
    font-weight: 400;
    padding-top: 2px;
    margin-bottom: 3rem;
}

.edit-buttons {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.edit-buttons input.delete-btn {
    background-color: #dc3545;
    border: 0.1rem solid #dc3545;
}

.edit-buttons input.delete-btn:hover {
    background-color: #606c76;
    border-color: #606c76;
}

textarea {
    height: 10rem;
}

/*ログインページ*/
.social-buttons {
    margin: 1rem 0 5rem 0;
}

.social-buttons .button {
    background-color: #1DA1F2;
    border: 0.1rem solid #1DA1F2;
}

.social-buttons .button:hover {
    background-color: #606c76;
    border-color: #606c76;
}

.tweet-link {
    text-align: center;
    margin-bottom: 10rem;
}

.tweet-link img {
    width: 7rem;
    height: 7rem;
}