{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block head_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet"> 
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% block body %}
  
      {% block content %}
      {% endblock %}
      {% endblock %}
      {% block extra_body %}
      <p><a href="{% url 'account_login' %}">ログイン画面へ</a></p>
      <p><a href="{% url 'top' %}">TOPへ</a></p>
      {% endblock %}
    </div>
  </body>
</html>
