{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>ログインページ</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&display=swap" rel="stylesheet"> 
        <script src="https://kit.fontawesome.com/694040f3f6.js" crossorigin="anonymous"></script>
    </head>
    <body>
      <div class="container">
        <h1>myTop5</h1>
        <div class="card card-purple">
          <h2>ログインページ</h2>
        </div>
        <div class="card">
          <div class="social-buttons">
            <a class="button button-home" href="{% url 'twitter_login' %}" role="button"><i class="fab fa-twitter-square"></i> Twitterでログイン</a>
          </div>
          <p>ログインをするか<a href="{{ signup_url }}">サインアップ</a>してください</p>
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form.as_p }}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <div>
              <button class="btn btn-primary" type="submit">ログイン</button>
            </div>
          </form>
        </div>
      </div>
    </body>
</html>




